@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&display=swap');

*{
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Navbar Styles */
/* .navbar {
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.navbar-brand {
    font-size: 1.5rem; 
    color: #007bff;
}

.navbar-toggler {
    border: none; 
}

.nav-link {
    color: #333333; 
}

.nav-link:hover {
    color: #007bff; 
}


.dropdown {
    position: static; 
}

.dropdown-toggle::after {
    display: none; 
}

.dropdown-menu {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    left: -5px; 
}

.dropdown-item {
    color: #333333; 
}

.dropdown-item:hover {
    background-color: #007bff; 
    color: #ffffff; 
}


.fal.fa-user {
    font-size: 1.2rem; 
    color: #333333; 
}

.navbar-nav {
    margin-right: 15px;
}

.nav-item {
    margin: 0 8px;
}


.navbar {
    margin-bottom: 20px;
}

.navbar .nav-link {
    color: black;
    font-weight: bold;
}


@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-item {
        margin: 5px 0;
    }
} */


.carousel {
    margin-bottom: 20px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}


.carousel-control-prev, .carousel-control-next {
    width: 3%;
    transition: width 0.3s ease; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: #555;
    width: 6%; 
}

.carousel {
    background-color: skyblue;
}

.carousel-caption h2 {
    font-size: 17px;
    color: black;
    font-weight: normal;
}

.container-fluid {
  margin-top: 20px;
}

.back-video{
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1
}

.paragraph-container {
    position: absolute;
    top: 50%; /* Adjust vertical position as needed */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the container precisely */
    text-align: left; /* Align text to the left */
    max-width: 30%; /* Adjust the width of the paragraph container as needed */
    padding: 20px; /* Add some padding for better readability */
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color to the paragraph container */
}

.description-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #333333;
}

.description-container p {
    margin-right: 15px;
}